<div class="row " >
  <div class="col-lg-6">

    <img src="../../../assets/Grocery Shop/Grocery-Shop.jpg" class="img-fluid" width="200%"/>
  </div>

  <div class="col-lg-6"> 

    <h1 id="title" class="title">Login</h1>
    <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

      <div class="form-control-group">
        <label class="label" for="input-email">Email address:</label>
        <input nbInput
               fullWidth
          
               name="email"
               id="input-email"
               pattern=".+@.+\..+"
               placeholder="Email address"
               fieldSize="large"
               autofocus
     >
        <!-- <ng-container *ngIf="">
          <p class="caption status-danger" *ngIf="">
            Email is required!
          </p>
          <p class="caption status-danger" *ngIf="">
            Email should be the real one!
          </p>
        </ng-container> -->
      </div>
  
      <div class="form-control-group">
        <span class="label-with-link">
          <label class="label" for="input-password">Password:</label>
          <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>
        </span>
        <input nbInput
               fullWidth
          
               name="password"
               type="password"
               id="input-password"
               placeholder="Password"
               fieldSize="large"
    
               >
        <ng-container *ngIf="">
          <p class="caption status-danger" *ngIf="">
            Password is required!
          </p>
          <!-- <p class="caption status-danger" *ngIf="">
            Password should contain
            from {{ getConfigValue('forms.validation.password.minLength') }}
            to {{ getConfigValue('forms.validation.password.maxLength') }}
            characters
          </p> -->
        </ng-container>
      </div>
    
      <div class="form-control-group accept-group">
        <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
      </div>
    
      <button nbButton
              fullWidth
              status="primary"
              size="large"
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted" (click)="login()">
        Log In
      </button>
    </form>
  

  </div>

</div>


